/* .leaderboard {
  background-color: #2c3a8c;
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
} */

.leaderboard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.leaderboard-list {
  list-style: none;
  padding: 10px;
}

.leaderboard-item {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 0.4rem;
  font-size: 1.2em;
  width: 30rem;
}

/* @media (orientation: portrait) {
  .leaderboard-container {
    flex-direction: column;
  }

  .leaderboard-list {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
} */

/* 640
768
1024
1280
1536
 */

/* very small screens */
@media (min-width: 475px) and (orientation: landscape) {
  .leaderboard {
    background-color: #2c3a8c;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}

/* small screens */
@media (min-width: 640px) and (orientation: landscape) {
  .leaderboard {
    background-color: green;
  }
}

/* medium screens */
@media (min-width: 768px) and (orientation: landscape) {
  .leaderboard {
    background-color: blue;
  }
}

/* large screens */
@media (min-width: 1024px) and (orientation: landscape) {
  .leaderboard {
    background-color: black;
  }
}

/* extra large screens */
@media (min-width: 1280px) and (orientation: landscape) {
}

/* 2xl screens */
@media (min-width: 1536px) and (orientation: landscape) {
}

/* anything else is too small for portrait mode */
/* medium portrait screens */
@media (min-width: 640px) and (orientation: portrait) {
  .leaderboard {
    display: none;
  }
}

/* medium portrait screens */
@media (min-width: 768px) and (orientation: portrait) {
  .leaderboard {
    display: flex;
    background-color: green;
  }
}

/* large portrait screens */
@media (min-width: 1024px) and (orientation: portrait) {
  .leaderboard {
    display: flex;
    background-color: black;
  }
}

/* extra large portrait screens */
@media (min-width: 1280px) and (orientation: landscape) {
}

/* 2xl portrait screens */
@media (min-width: 1536px) and (orientation: landscape) {
}
