/* General Page Styling */
.leaderboard-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #273564;
  display: flex;
  flex-direction: column;
}

/* Leaderboard Styling */
.leaderboard {
  flex: 1;
  overflow-y: auto;
  padding-top: 20px; /* Added padding to move the leaderboard higher */
}

.leaderboard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.leaderboard-section {
  margin: 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}

.leaderboard-list {
  list-style: none;
  padding: 10px;
  overflow-y: auto;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 0.4rem;
  font-size: 1.1em;
}

.leaderboard-rank {
  display: flex;
  align-items: center;
}

.leaderboard-username {
  margin-left: 0.5rem;
  font-weight: bold;
}

.leaderboard-wpm {
  font-size: 0.9em;
  color: #ccc;
}

/* Media Queries */
@media (max-width: 768px) {
  .leaderboard-container {
    flex-direction: column;
    align-items: center;
  }

  .leaderboard-section {
    width: 90%;
    margin-bottom: 20px;
  }
}
