/* General Page Styling */
.leaderboard-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #273564;
  display: flex;
  flex-direction: column;
}

/* Leaderboard Styling */
.leaderboard {
  flex: 1;
  overflow-y: auto;
  padding-top: 20px; /* Added padding to move the leaderboard higher */
}

.leaderboard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.leaderboard-section {
  margin: 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}

.leaderboard-list {
  list-style: none;
  padding: 10px;
  overflow-y: auto;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 0.4rem;
  font-size: 1.1em;
}

.leaderboard-rank {
  display: flex;
  align-items: center;
}

.leaderboard-username {
  margin-left: 0.5rem;
  font-weight: bold;
}

.leaderboard-wpm {
  font-size: 0.9em;
  color: #ccc;
}

/* Media Queries */
@media (max-width: 768px) {
  .leaderboard-container {
    flex-direction: column;
    align-items: center;
  }

  .leaderboard-section {
    width: 90%;
    margin-bottom: 20px;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-in-left-delay {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.5s both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-bottom-delay {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.5s both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
