:root {
  --primary-blue: #273564;
}

body {
  background-color: var(--primary-blue);
}

.history-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.history-content-scrollable {
  flex: 1;
  height: calc(100vh - 100px);
  overflow-y: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.test-display {
  flex: 2;
  height: calc(100vh - 100px);
  background: #1d1c1c;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px,
    rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--primary-blue);
}

.test-info {
  text-align: left;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.test-info div {
  margin: 5px 0;
}

.error-message {
  color: #ff4f4f;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.card {
  background: var(--primary-blue);
  color: #fff;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: left;
}

.details {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.card:hover {
  background-color: #1c274d;
}
