:root {
  --primary-grey: #19191a;
}

body {
  background-color: var(--primary-grey);
}

.test-card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 18%;
  min-width: 150px;
  color: #fff;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: left;
  transition: all 0.3s ease;
}

.test-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* background-color: hsl(var(--secondary, 222 47% 11%)); */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.history-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  /* padding: 10px; */
}

.history-content-scrollable {
  height: calc(100vh - 80px);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 250px;
  align-items: center;
  padding: 20px;
  scrollbar-width: none;
}

.test-display {
  flex: 1;
  max-width: 75%;
  height: calc(100vh - 100px);
  background: #1d1c1c;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px,
    rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--primary-grey);
  border-radius: 5px;
}

.test-info {
  text-align: left;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.test-info div {
  margin: 5px 0;
}

.error-message {
  font-size: 40px;
  color: #ff4f4f;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin-top: 300px;
}

.card {
  background: var(--primary-grey);
  color: #fff;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: left;
  height: 20vh;
  width: 33vh;
}

.details {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.card:hover {
  background-color: #1c274d;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-grey);
}

.load {
  display: flex;
  border-radius: 50%;
  flex-direction: row;
}

.progress {
  width: 2em;
  height: 2em;
  margin: 0.4em;
  scale: 0;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  animation: loading_492 2s ease infinite;
  animation-delay: 1s;
}

@keyframes loading_492 {
  50% {
    scale: 1;
  }
}

.progress:nth-child(2) {
  animation-delay: 1.3s;
}

.progress:nth-child(3) {
  animation-delay: 1.7s;
}
