/* TestFinished.css */

.test-finished-container {
  width: 100vw;
  height: 100vh;
  background-color: #add8e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.test-finished-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.test-finished-results {
  display: flex;
  justify-content: space-around;
  width: 70%;
  font-size: 1.25rem;
  color: #333;
}

.test-finished-results div {
  text-align: center;
}

.test-finished-chart {
  width: 95vw;
  height: 60vh;
  margin-top: 20px;
}

.test-finished-label {
  font-weight: bold;
}
