.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(44, 58, 96);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: white;
}

.nav-container {
    display: flex;
    align-items: center;
}

nav {
    margin-right: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list a {
    text-decoration: none;
    color: white;
}

.login-container {
    display: flex;
    align-items: center;
}

.login-container a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.nav-list .active {
    text-decoration: underline;
}
