.word {
  display: inline-flex;
  flex-direction: row;
  align-self: center;
  min-height: 2.5rem;
  max-height: 2.5rem;
  /* background-color: #40404050; */
}

.type__box {
  /* box-shadow: 0px -5px 20px -50px rgba(0, 0, 0, 0.15); */
  box-sizing: border-box;
  /* background: #40404050; */
  /* padding: 1.5rem; */

  /* overflow: hidden; */
  display: flex;

  /* max-lines: 3; */
  flex-wrap: wrap;

  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  /* align-self: center; */
  /* align-items: center; */

  min-width: 50vw;
  max-width: 80vw;
  /* height: 6rem; */
}

input {
  /* display: none; */

  border: none;
  padding: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
