:root {
  --fontSize: 1.5rem;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
}

.letter {
  font-size: var(--fontSize);
  color: #818181;
}

.correct {
  font-size: var(--fontSize);
  color: #fff;
  opacity: 1;
}

.incorrect {
  font-size: var(--fontSize);
  color: #ff2020;
}

.space {
  padding-left: 1.2rem;
}

.next {
  /* background-color: #90909020; */
}

.cursorBlink {
  animation: cursorBlink 1s infinite;
}

@keyframes cursorBlink {
  0%,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
