:root {
  --fontSize: 4rem;
}

.letter {
  font-size: var(--fontSize);
  color: #a8a8a8;
}

.correct {
  font-size: var(--fontSize);
  color: #fff;
  opacity: 1;
}

.incorrect {
  font-size: var(--fontSize);
  color: #ff2020;
}

.space {
  padding-left: 2.2rem;
}

.next {
  background-color: #90909020;
}
