:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #2c3a60;
  margin: 0;
  display: flex;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a:hover {
  cursor: pointer;
  display: inline-block;
  transform: scale(1.05);
  transition: all 0.15s ease;
}
