:root {
  color: rgba(255, 255, 255, 0.87);
  /* background: linear-gradient(#25335e, #344984); */
  background: #273564;
  margin: 0;
  display: flex;
  max-width: 100vw;
  min-width: 100vw;
  box-sizing: border-box;
  font-display: block;
}

body {
  margin: 0;
  overflow: hidden;
}

a:hover {
  cursor: pointer;
  display: inline-block;
  transform: scale(1.05);
  transition: all 0.15s ease;
}
