.modal__container {
  transition: all 0.15s ease;
  display: flex;
  flex: 1;
  /* background-color: #273356; */
  align-self: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 1rem;
  min-width: 30rem;
  max-width: 40rem;
  min-height: 15rem;
  max-height: 15rem;
}

.modal__subcontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.modal__option__container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.modal__title {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.07rem;
  align-self: center;
  margin-top: 1rem;
}

.modal__option {
  font-size: 1.75rem;
  font-weight: 400;
  color: #7e7e7e;
  letter-spacing: 0.07rem;
}

.selected {
  font-size: 1.75rem;
  font-weight: 600;
  color: #fff;
}

.modal__small__container {
  display: flex;
  flex: 1;
  /* background-color: #273356; */
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 1rem;
  width: 20rem;
  min-height: 1rem;
  max-height: 1rem;
  transition: all 0.15s ease;
}

.modal__small__option {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.07rem;
}
